@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Image Base 64
    <img src="https://sec.ch9.ms/ch9/e039/6174a763-27c7-4968-ae08-84592ef9e039/HanselmanDemosandNETCodeRC_960.jpg" asp-render-base64='true' />
</p>
<p>
    Image without Base 64
    <img src="~/images/eu.png" />
</p>
